@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap");

* {
  box-sizing: border-box;
}

.home {
  font-family: "Poppins", sans-serif;
}

.tablearea {
  margin: 20px;
  margin-top: 80px;
}

.table {
  margin-top: 15px;
}

.addbutton {
  position: relative;
  margin: auto;
  align-self: center;
  margin-bottom: 20px;
}
